@import "tailwindcss";
body{ font-family: "Montserrat", sans-serif; background: #f1f1f1;}
.MuiBadge-badge {background-color: #ff5252 !important;}
.ReactCollapse--collapse {
  transition: height 300ms;
}

/* #3872fa */

::-webkit-scrollbar {width: 10px !important; height: 10px !important;}
::-webkit-scrollbar-thumb{background: #ccc !important;}

.btn{padding: 8px 20px !important;}
.btn-blue{ background-color: #3872fa !important; color: #fff !important; padding: 8px 20px !important;}
.btn-blue:hover{ background-color: #2b61dd;}
.btn-sm{padding: 6px 20px !important; font-size: 13px !important;}

th.MuiTableCell-root{@apply bg-[#f1f1f1] py-2;}

a.active button{background-color: #e1e1e1 !important;}
.MuiAppBar-colorPrimary{background-color: #e6e6e6 !important;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.MuiSelect-select{ background-color: #fff !important;}
.MuiDialog-paper{ background-color: #f9fafb !important; }